body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
text-align:center;
padding:60px;
background:linear-gradient(135deg,#1e3a8a,#2563eb);
}

.social-icons a{
color:white;
font-size:24px;
margin:10px;
transition:0.3s;
}

.social-icons a:hover{
color:#38bdf8;
}

section{
padding:50px;
max-width:900px;
margin:auto;
}

h2{
margin-bottom:30px;
}

.skill{
margin-bottom:20px;
}

.progress{
background:#1e293b;
height:12px;
border-radius:20px;
overflow:hidden;
}

.progress-bar{
height:12px;
width:0;
background:linear-gradient(90deg,#06b6d4,#3b82f6);
transition:2s;
}

.project-card{
background:#1e293b;
padding:20px;
margin-bottom:20px;
border-radius:10px;
transition:0.3s;
}

.project-card:hover{
transform:scale(1.03);
background:#334155;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}
